App/WebApp/server/nodered/flow.json
[{"id":"b8464008.cf0338","type":"mqtt-broker","broker":"broker.mqttdashboard.com","port":"8000","clientid":""},{"id":"acd8a793.80c6e","type":"mongodb","hostname":"localhost","port":"27017","db":"happycommute","name":"happycommute"},{"id":"6c673ecc.975c2","type":"comment","name":"Write API","info":"Reads JSON body of a POST,\nAppends a timestamp to it\nand writes it to the mongo database.","x":476.66668701171875,"y":280,"z":"9878e7ef.89b188","wires":[]},{"id":"d68707f4.c95c68","type":"http request","name":"Air","method":"GET","url":"http://api.erg.kcl.ac.uk/AirQuality/Daily/MonitoringIndex/Latest/GroupName=London","x":659.6666870117188,"y":764,"z":"9878e7ef.89b188","wires":[["3326f059.6b6ba","2d23a49d.d085f4"]]},{"id":"3326f059.6b6ba","type":"debug","name":"logbedlab","active":false,"console":"true","complete":"true","x":822.6666870117188,"y":767,"z":"9878e7ef.89b188","wires":[]},{"id":"2d23a49d.d085f4","type":"xml","name":"parse","x":842.6666870117188,"y":850,"z":"9878e7ef.89b188","wires":[["d45c61aa.88dd88","9a221fd0.92a52"]]},{"id":"d45c61aa.88dd88","type":"debug","name":"parsed-bedlab","active":false,"console":"true","complete":"true","x":1032.6666870117188,"y":851,"z":"9878e7ef.89b188","wires":[]},{"id":"ab268a70.c94088","type":"http request","name":"Weather","method":"GET","url":"http://api.wunderground.com/api/232e24ca50c6ec3d/forecast/geolookup/conditions/q/CA/San_Francisco.json","x":667.6666870117188,"y":930,"z":"9878e7ef.89b188","wires":[["6002e0a4.6dd858","59f33959.05e048"]]},{"id":"9c2304f6.bee28","type":"inject","name":"get","topic":"","payload":"","payloadType":"none","repeat":"10","crontab":"","once":true,"x":498.66668701171875,"y":831,"z":"9878e7ef.89b188","wires":[["ab268a70.c94088","d68707f4.c95c68"]]},{"id":"b166ccc5.0f89","type":"debug","name":"Temp-Today","active":false,"console":"true","complete":"true","x":1195.6666870117188,"y":965,"z":"9878e7ef.89b188","wires":[]},{"id":"753071c8.09511","type":"mongodb out","service":"mongodb-6v","mongodb":"acd8a793.80c6e","name":"HappyCommute-write","collection":"HappyCommute","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":899.6666870117188,"y":416,"z":"9878e7ef.89b188","wires":[]},{"id":"9406009d.155c3","type":"mongodb in","service":"mongodb-6v","mongodb":"acd8a793.80c6e","name":"HappyCommute-read","collection":"HappyCommute","operation":"find","x":672.6666870117188,"y":657,"z":"9878e7ef.89b188","wires":[["b2fa48a.38250b8","bc9d3963.d1ff38","64a8a9fa.61a2d"]]},{"id":"b2fa48a.38250b8","type":"debug","name":"trea-read-log","active":false,"console":"true","complete":"true","x":898.6666870117188,"y":589,"z":"9878e7ef.89b188","wires":[]},{"id":"b3d33c0c.83fb1","type":"http in","name":"write","url":"/api","method":"post","x":490.66668701171875,"y":400,"z":"9878e7ef.89b188","wires":[["9fe2a9fe.939f7","fd742504.fb0b58","91cf060e.477ad"]]},{"id":"9fe2a9fe.939f7","type":"debug","name":"write debug","active":false,"console":"true","complete":"true","x":680.6666870117188,"y":352,"z":"9878e7ef.89b188","wires":[]},{"id":"434affd0.9c74f","type":"http in","name":"read","url":"/api","method":"get","x":491.66668701171875,"y":657,"z":"9878e7ef.89b188","wires":[["9406009d.155c3"]]},{"id":"bc9d3963.d1ff38","type":"http response","name":"read res","x":886.6666870117188,"y":657,"z":"9878e7ef.89b188","wires":[]},{"id":"fd742504.fb0b58","type":"http response","name":"write res","x":685.6666870117188,"y":398,"z":"9878e7ef.89b188","wires":[]},{"id":"91cf060e.477ad","type":"function","name":"Write post","func":"msg.payload.Stamp=new Date();\nreturn msg.payload;","outputs":1,"x":677.6666870117188,"y":446,"z":"9878e7ef.89b188","wires":[["753071c8.09511","76383fbb.27f73"]]},{"id":"76383fbb.27f73","type":"debug","name":"trea write","active":false,"console":"true","complete":"true","x":905.6666870117188,"y":473,"z":"9878e7ef.89b188","wires":[]},{"id":"747cc6ea.c3c768","type":"comment","name":"Read API","info":"On a get Request,\nReads the value of the mongo databse,\nAnd sends the rest in the Response.","x":488.66668701171875,"y":522,"z":"9878e7ef.89b188","wires":[]},{"id":"1cd80d9b.cc62f2","type":"comment","name":"Scrape Function","info":"On a set interval (10sec),\nSend a Get request to Environmental APIs,\nWrite the data in the Database.","x":499.66668701171875,"y":712,"z":"9878e7ef.89b188","wires":[]},{"id":"59f33959.05e048","type":"function","name":"weather.payload","func":"var ret = JSON.parse(msg.payload);\nvar msg1 = ret.current_observation.temp_c;\nvar msg2 = ret.forecast.simpleforecast.forecastday[2].high.celsius\n//msg.payload.response.temp_c\nreturn [msg1,msg2];","outputs":"2","x":968.6666870117188,"y":1011,"z":"9878e7ef.89b188","wires":[["b166ccc5.0f89","b2cea3b3.1dc44"],["d4efa7df.7e9f38","b2cea3b3.1dc44"]]},{"id":"6002e0a4.6dd858","type":"debug","name":"parsed-json","active":false,"console":"true","complete":"true","x":955.6666870117188,"y":933,"z":"9878e7ef.89b188","wires":[]},{"id":"d4efa7df.7e9f38","type":"debug","name":"Temp-Forecast","active":false,"console":"true","complete":"true","x":1189.6666870117188,"y":1036,"z":"9878e7ef.89b188","wires":[]},{"id":"9a221fd0.92a52","type":"function","name":"air payload","func":"var ret = msg.payload.DailyAirQualityIndex.LocalAuthority[2].Site[3];\nmsg1=ret.Species[0].$.AirQualityIndex;\nmsg2=ret.Species[1].$.AirQualityIndex;\nmsg3=ret.Species[2].$.AirQualityIndex;\nmsg4=ret.Species[3].$.AirQualityIndex;\nreturn  [msg1, msg2, msg3, msg4];","outputs":"4","x":1013.6666870117188,"y":745,"z":"9878e7ef.89b188","wires":[["112db110.f0d3a7","b2cea3b3.1dc44"],["e1d846d5.189cb8","b2cea3b3.1dc44"],["c30259e5.019d4","b2cea3b3.1dc44"],["90c50a91.a2da2","b2cea3b3.1dc44"]]},{"id":"112db110.f0d3a7","type":"debug","name":"AirPay-NO2","active":false,"console":"true","complete":"true","x":1182.6666870117188,"y":662,"z":"9878e7ef.89b188","wires":[]},{"id":"e1d846d5.189cb8","type":"debug","name":"AirPay-03","active":false,"console":"true","complete":"true","x":1185.6666870117188,"y":706,"z":"9878e7ef.89b188","wires":[]},{"id":"c30259e5.019d4","type":"debug","name":"AirPay-SO2","active":false,"console":"true","complete":"true","x":1184.6666870117188,"y":747,"z":"9878e7ef.89b188","wires":[]},{"id":"90c50a91.a2da2","type":"debug","name":"AirPay-PM","active":false,"console":"true","complete":"true","x":1184.6666870117188,"y":793,"z":"9878e7ef.89b188","wires":[]},{"id":"64a8a9fa.61a2d","type":"function","name":"readpayload.payload","func":"var i = Math.floor(Math.random()*11);\nvar ret = msg.payload[1];\nvar msg1  = ret.Temp;\nvar msg2  = ret.Humid;\nvar msg3  = ret.Light;\nvar msg4  = ret.CO;\nvar msg5  = ret.PM;\nreturn [msg1, msg2, msg2, msg4, msg5];","outputs":"5","x":1123.6666870117188,"y":405,"z":"9878e7ef.89b188","wires":[["2f968064.bc7ed","b2cea3b3.1dc44"],["5a6459cb.bf0de8","b2cea3b3.1dc44"],["84897201.eba248","b2cea3b3.1dc44"],["65e3544a.44bf64","b2cea3b3.1dc44"],["2ef93ef4.5275ca","b2cea3b3.1dc44"]]},{"id":"2f968064.bc7ed","type":"debug","name":"trea-read-Temp","active":false,"console":"true","complete":"true","x":1347.6666870117188,"y":336,"z":"9878e7ef.89b188","wires":[]},{"id":"5a6459cb.bf0de8","type":"debug","name":"trea-read-Humid","active":false,"console":"true","complete":"true","x":1351.6666870117188,"y":381,"z":"9878e7ef.89b188","wires":[]},{"id":"84897201.eba248","type":"debug","name":"trea-read-Light","active":false,"console":"true","complete":"true","x":1348.6666870117188,"y":419,"z":"9878e7ef.89b188","wires":[]},{"id":"65e3544a.44bf64","type":"debug","name":"trea-read-CO","active":false,"console":"true","complete":"true","x":1347.6666870117188,"y":460,"z":"9878e7ef.89b188","wires":[]},{"id":"2ef93ef4.5275ca","type":"debug","name":"trea-read-PM","active":false,"console":"true","complete":"true","x":1346.6666870117188,"y":502,"z":"9878e7ef.89b188","wires":[]},{"id":"e88f10cd.24b92","type":"comment","name":"AirQuality Readings","info":"","x":1255.6666870117188,"y":617,"z":"9878e7ef.89b188","wires":[]},{"id":"99c1efc2.e2cfb","type":"comment","name":"Sensor Readings","info":"","x":1244.6666870117188,"y":284,"z":"9878e7ef.89b188","wires":[]},{"id":"d00b0967.5dfc18","type":"comment","name":"Weather Readings","info":"","x":1278.6666870117188,"y":914,"z":"9878e7ef.89b188","wires":[]},{"id":"153d606c.eb99a8","type":"comment","name":"N02 - 200Bad, 500Notice","info":"","x":1550.6666870117188,"y":768,"z":"9878e7ef.89b188","wires":[]},{"id":"282dd0af.e8daf8","type":"comment","name":"CO ppm >35-Dizzy/8hr, >400-headache/hr >1000-Convulsion, >1500-Heartattack","info":"","x":1499.6666870117188,"y":831,"z":"9878e7ef.89b188","wires":[]},{"id":"b2cea3b3.1dc44","type":"function","name":"HappyCommute Algorithm","func":"var reads = 11;\ncontext.msgs = context.msgs || [];\ncontext.count = context.count || 0;    \ncontext.value = context.value || 0;\nvar i = (context.count+1) % reads;\ncontext.count += 1;\ncontext.msgs[i] = msg;\nfor (var j = 0; j < reads-1; j++) {\n\t//context.value=j;\n\tcontext.value=(context.msgs[j]||0) + (context.msgs[j+1]||0);\n}\nreturn [context.value, context.count, context.msgs[i]];","outputs":"3","x":1495.6666870117188,"y":730,"z":"9878e7ef.89b188","wires":[["7dd8df9b.853d38"],["857d064b.e122e"],["76968e1d.43bc"]]},{"id":"76968e1d.43bc","type":"debug","name":"Algo-msg","active":false,"console":"true","complete":"true","x":1688.6666870117188,"y":738,"z":"9878e7ef.89b188","wires":[]},{"id":"857d064b.e122e","type":"debug","name":"Algo.count","active":false,"console":"true","complete":"true","x":1680.6666870117188,"y":694,"z":"9878e7ef.89b188","wires":[]},{"id":"7dd8df9b.853d38","type":"debug","name":"Algo.value","active":true,"console":"true","complete":"true","x":1682.6666870117188,"y":653,"z":"9878e7ef.89b188","wires":[]},{"id":"575253b7.1eb234","type":"mqtt out","name":"Happycommute Publish","topic":"testtopic","qos":"1","retain":"true","broker":"b8464008.cf0338","x":959.9998474121094,"y":173.33333587646484,"z":"9878e7ef.89b188","wires":[]},{"id":"5d556992.e362","type":"mqtt in","name":"HappyCommute Subscribe","topic":"testtopic","broker":"b8464008.cf0338","x":663.3333333333333,"y":98.33333333333331,"z":"9878e7ef.89b188","wires":[["8fed9581.c5c728"]]},{"id":"8fed9581.c5c728","type":"debug","name":"HappyCommute Subscription","active":true,"console":"false","complete":"payload","x":1051.6666564941406,"y":96.66666412353516,"z":"9878e7ef.89b188","wires":[]},{"id":"dccae9c5.3649e8","type":"inject","name":"Pump Red","topic":"testtopic","payload":"00FF00","payloadType":"string","repeat":"1","crontab":"","once":false,"x":654.9999389648436,"y":175.00000985463458,"z":"9878e7ef.89b188","wires":[["575253b7.1eb234"]]},{"id":"cb199533.cbc4d","type":"comment","name":"MQTT Pub/Sub to Happy Commute Device","info":"Reads JSON body of a POST,\nAppends a timestamp to it\nand writes it to the mongo database.","x":475,"y":46.66666793823242,"z":"9878e7ef.89b188","wires":[]}]
