App/WebApp/server/nodered/flow.json
[{"id":"acd8a793.80c6e","type":"mongodb","hostname":"localhost","port":"27017","db":"SocialCycle","name":"SocialCycle"},{"id":"fa5039e1.1477","type":"comment","name":"Write API","info":"Reads JSON body of a POST,\nAppends a timestamp to it\nand writes it to the mongo database.","x":237.5,"y":190,"z":"9878e7ef.89b188","wires":[]},{"id":"ae2d009c.d56ff","type":"http request","name":"Air","method":"GET","url":"http://api.erg.kcl.ac.uk/AirQuality/Daily/MonitoringIndex/Latest/GroupName=London","x":420.5,"y":674,"z":"9878e7ef.89b188","wires":[["d94c552c.e94338","e0b662a5.a8fbb8"]]},{"id":"d94c552c.e94338","type":"debug","name":"logbedlab","active":false,"console":"true","complete":"true","x":583.5,"y":677,"z":"9878e7ef.89b188","wires":[]},{"id":"e0b662a5.a8fbb8","type":"xml","name":"parse","x":603.5,"y":760,"z":"9878e7ef.89b188","wires":[["49894ffe.bcf3","393efe1a.c03682"]]},{"id":"49894ffe.bcf3","type":"debug","name":"parsed-bedlab","active":false,"console":"true","complete":"true","x":793.5,"y":761,"z":"9878e7ef.89b188","wires":[]},{"id":"a00090ea.8c6138","type":"http request","name":"Weather","method":"GET","url":"http://api.wunderground.com/api/232e24ca50c6ec3d/forecast/geolookup/conditions/q/CA/San_Francisco.json","x":428.5,"y":840,"z":"9878e7ef.89b188","wires":[["e8babee8.5e7be8","d3f3b36e.d73b08"]]},{"id":"25dee3bc.1c5f5c","type":"inject","name":"get","topic":"","payload":"","payloadType":"none","repeat":"10","crontab":"","once":true,"x":259.5,"y":741,"z":"9878e7ef.89b188","wires":[["a00090ea.8c6138","ae2d009c.d56ff"]]},{"id":"cb679696.adcc9","type":"debug","name":"Temp-Today","active":false,"console":"true","complete":"true","x":956.5,"y":875,"z":"9878e7ef.89b188","wires":[]},{"id":"2559b8b7.af5f2","type":"mongodb out","service":"mongodb-6v","mongodb":"acd8a793.80c6e","name":"SocialCycle-write","collection":"SocialCycle","payonly":false,"upsert":false,"multi":false,"operation":"insert","x":660.5,"y":326,"z":"9878e7ef.89b188","wires":[]},{"id":"a2d3cc7.cf808b","type":"mongodb in","service":"mongodb-6v","mongodb":"acd8a793.80c6e","name":"SocialCycle-read","collection":"SocialCycle","operation":"find","x":433.5,"y":567,"z":"9878e7ef.89b188","wires":[["c24e069c.1fbcc","be8b515b.1eea9","38fe2153.49aa8e"]]},{"id":"c24e069c.1fbcc","type":"debug","name":"trea-read-log","active":false,"console":"true","complete":"true","x":659.5,"y":499,"z":"9878e7ef.89b188","wires":[]},{"id":"c1e0bd77.096ca8","type":"http in","name":"write","url":"/api","method":"post","x":251.5,"y":310,"z":"9878e7ef.89b188","wires":[["894957cd.0a12a","c704e086.af3718","b0c7a6bf.5db348"]]},{"id":"894957cd.0a12a","type":"debug","name":"write debug","active":true,"console":"true","complete":"true","x":441.5,"y":262,"z":"9878e7ef.89b188","wires":[]},{"id":"36a1fe27.bff562","type":"http in","name":"read","url":"/api","method":"get","x":252.5,"y":567,"z":"9878e7ef.89b188","wires":[["a2d3cc7.cf808b"]]},{"id":"be8b515b.1eea9","type":"http response","name":"read res","x":647.5,"y":567,"z":"9878e7ef.89b188","wires":[]},{"id":"c704e086.af3718","type":"http response","name":"write res","x":446.5,"y":308,"z":"9878e7ef.89b188","wires":[]},{"id":"b0c7a6bf.5db348","type":"function","name":"Write post","func":"msg.payload.Stamp=new Date();\nreturn msg.payload;","outputs":1,"x":438.5,"y":356,"z":"9878e7ef.89b188","wires":[["2559b8b7.af5f2","ee9d6238.14983"]]},{"id":"ee9d6238.14983","type":"debug","name":"trea write","active":true,"console":"true","complete":"true","x":666.5,"y":383,"z":"9878e7ef.89b188","wires":[]},{"id":"b7719a5f.3bf118","type":"comment","name":"Read API","info":"On a get Request,\nReads the value of the mongo databse,\nAnd sends the rest in the Response.","x":249.5,"y":432,"z":"9878e7ef.89b188","wires":[]},{"id":"5b8596b1.b005e","type":"comment","name":"Scrape Function","info":"On a set interval (10sec),\nSend a Get request to Environmental APIs,\nWrite the data in the Database.","x":260.5,"y":622,"z":"9878e7ef.89b188","wires":[]},{"id":"d3f3b36e.d73b08","type":"function","name":"weather.payload","func":"var ret = JSON.parse(msg.payload);\nvar msg1 = ret.current_observation.temp_c;\nvar msg2 = ret.forecast.simpleforecast.forecastday[2].high.celsius\n//msg.payload.response.temp_c\nreturn [msg1,msg2];","outputs":"2","x":729.5,"y":921,"z":"9878e7ef.89b188","wires":[["cb679696.adcc9","118711c6.c71f7e"],["2e3c84c8.59e1dc","118711c6.c71f7e"]]},{"id":"e8babee8.5e7be8","type":"debug","name":"parsed-json","active":false,"console":"true","complete":"true","x":716.5,"y":843,"z":"9878e7ef.89b188","wires":[]},{"id":"2e3c84c8.59e1dc","type":"debug","name":"Temp-Forecast","active":false,"console":"true","complete":"true","x":950.5,"y":946,"z":"9878e7ef.89b188","wires":[]},{"id":"393efe1a.c03682","type":"function","name":"air payload","func":"var ret = msg.payload.DailyAirQualityIndex.LocalAuthority[2].Site[3];\nmsg1=ret.Species[0].$.AirQualityIndex;\nmsg2=ret.Species[1].$.AirQualityIndex;\nmsg3=ret.Species[2].$.AirQualityIndex;\nmsg4=ret.Species[3].$.AirQualityIndex;\nreturn  [msg1, msg2, msg3, msg4];","outputs":"4","x":774.5,"y":655,"z":"9878e7ef.89b188","wires":[["4833b36d.b641dc","118711c6.c71f7e"],["42c17676.41e958","118711c6.c71f7e"],["4738976c.9d833","118711c6.c71f7e"],["9a66ca63.814f98","118711c6.c71f7e"]]},{"id":"4833b36d.b641dc","type":"debug","name":"AirPay-NO2","active":false,"console":"true","complete":"true","x":943.5,"y":572,"z":"9878e7ef.89b188","wires":[]},{"id":"42c17676.41e958","type":"debug","name":"AirPay-03","active":false,"console":"true","complete":"true","x":946.5,"y":616,"z":"9878e7ef.89b188","wires":[]},{"id":"4738976c.9d833","type":"debug","name":"AirPay-SO2","active":false,"console":"true","complete":"true","x":945.5,"y":657,"z":"9878e7ef.89b188","wires":[]},{"id":"9a66ca63.814f98","type":"debug","name":"AirPay-PM","active":false,"console":"true","complete":"true","x":945.5,"y":703,"z":"9878e7ef.89b188","wires":[]},{"id":"38fe2153.49aa8e","type":"function","name":"readpayload.payload","func":"var i = Math.floor(Math.random()*11);\nvar ret = msg.payload[1];\nvar msg1  = ret.Temp;\nvar msg2  = ret.Humid;\nvar msg3  = ret.Light;\nvar msg4  = ret.CO;\nvar msg5  = ret.PM;\nreturn [msg1, msg2, msg2, msg4, msg5];","outputs":"5","x":884.5,"y":315,"z":"9878e7ef.89b188","wires":[["57684cc7.a61a5c","118711c6.c71f7e"],["c82de5fa.a215","118711c6.c71f7e"],["ede06094.a87558","118711c6.c71f7e"],["9776709f.928f8","118711c6.c71f7e"],["547ecb9f.99c31c","118711c6.c71f7e"]]},{"id":"57684cc7.a61a5c","type":"debug","name":"trea-read-Temp","active":false,"console":"true","complete":"true","x":1108.5,"y":246,"z":"9878e7ef.89b188","wires":[]},{"id":"c82de5fa.a215","type":"debug","name":"trea-read-Humid","active":false,"console":"true","complete":"true","x":1112.5,"y":291,"z":"9878e7ef.89b188","wires":[]},{"id":"ede06094.a87558","type":"debug","name":"trea-read-Light","active":false,"console":"true","complete":"true","x":1109.5,"y":329,"z":"9878e7ef.89b188","wires":[]},{"id":"9776709f.928f8","type":"debug","name":"trea-read-CO","active":false,"console":"true","complete":"true","x":1108.5,"y":370,"z":"9878e7ef.89b188","wires":[]},{"id":"547ecb9f.99c31c","type":"debug","name":"trea-read-PM","active":false,"console":"true","complete":"true","x":1107.5,"y":412,"z":"9878e7ef.89b188","wires":[]},{"id":"fd47498a.e1ed78","type":"comment","name":"AirQuality Readings","info":"","x":1016.5,"y":527,"z":"9878e7ef.89b188","wires":[]},{"id":"f24803c1.d29b18","type":"comment","name":"Sensor Readings","info":"","x":1005.5,"y":194,"z":"9878e7ef.89b188","wires":[]},{"id":"51bf4af5.8b0e0c","type":"comment","name":"Weather Readings","info":"","x":1039.5,"y":824,"z":"9878e7ef.89b188","wires":[]},{"id":"522eb6a2.1e3758","type":"comment","name":"N02 - 200Bad, 500Notice","info":"","x":1311.5,"y":678,"z":"9878e7ef.89b188","wires":[]},{"id":"81782a45.cc6aa8","type":"comment","name":"CO ppm >35-Dizzy/8hr, >400-headache/hr >1000-Convulsion, >1500-Heartattack","info":"","x":1260.5,"y":741,"z":"9878e7ef.89b188","wires":[]},{"id":"118711c6.c71f7e","type":"function","name":"SocialCycle Algorithm","func":"var reads = 11;\ncontext.msgs = context.msgs || [];\ncontext.count = context.count || 0;    \ncontext.value = context.value || 0;\nvar i = (context.count+1) % reads;\ncontext.count += 1;\ncontext.msgs[i] = msg;\nfor (var j = 0; j < reads-1; j++) {\n\t//context.value=j;\n\tcontext.value=(context.msgs[j]||0) + (context.msgs[j+1]||0);\n}\nreturn [context.value, context.count, context.msgs[i]];","outputs":"3","x":1256.5,"y":640,"z":"9878e7ef.89b188","wires":[["c5a2d4c7.7477e"],["5047904b.36b97"],["5d24625e.e44e54"]]},{"id":"5d24625e.e44e54","type":"debug","name":"Algo-msg","active":false,"console":"true","complete":"true","x":1449.5,"y":648,"z":"9878e7ef.89b188","wires":[]},{"id":"5047904b.36b97","type":"debug","name":"Algo.count","active":false,"console":"true","complete":"true","x":1441.5,"y":604,"z":"9878e7ef.89b188","wires":[]},{"id":"c5a2d4c7.7477e","type":"debug","name":"Algo.value","active":false,"console":"true","complete":"true","x":1443.5,"y":563,"z":"9878e7ef.89b188","wires":[]}]
