App/WebApp/server/nodered/flows_Johns-MacBook-Pro.local.json
[{"type":"tab","id":"392f1984.c6d0e6","label":"Sheet 1"},{"id":"558972ae.aa768c","type":"mongodb","hostname":"127.0.0.1","port":"27017","db":"social-cycles-red","name":"color"},{"id":"e61260da.19eda","type":"http in","name":"led","url":"/led","method":"post","x":78,"y":526,"z":"392f1984.c6d0e6","wires":[["d85fb643.27a048"]]},{"id":"d85fb643.27a048","type":"json","name":"","x":263,"y":526,"z":"392f1984.c6d0e6","wires":[["321da81d.cde258"]]},{"id":"321da81d.cde258","type":"function","name":"","func":"function componentToHex(c) {\n    var hex = c.toString(16);\n    return hex.length == 1 ? \"0\" + hex : hex;\n}\n\nfunction rgbToHex(r, g, b) {\n    return \"#\" + componentToHex(r) + componentToHex(g) + componentToHex(b);\n}\n\nvar r = msg.payload.r;\nvar g = msg.payload.g;\nvar b = msg.payload.b\nvar rgb = rgbToHex(r,g,b);\nvar date = new Date();\nmsg.payload = {\nrgb: rgb,\ndate:date\n};\nreturn msg","outputs":"3","x":418,"y":536,"z":"392f1984.c6d0e6","wires":[["b67f3312.4980d"],["b1fdaab5.4e0258"],["6fb21926.904de8"]]},{"id":"b1fdaab5.4e0258","type":"mongodb out","mongodb":"558972ae.aa768c","name":"","collection":"social-cycles-color","payonly":true,"upsert":false,"multi":false,"operation":"store","x":543,"y":597,"z":"392f1984.c6d0e6","wires":[]},{"id":"b67f3312.4980d","type":"debug","name":"","active":true,"console":"false","complete":"false","x":612,"y":486,"z":"392f1984.c6d0e6","wires":[]},{"id":"6fb21926.904de8","type":"http response","name":"","x":323,"y":627,"z":"392f1984.c6d0e6","wires":[]}]